@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
  padding-top: 15px;
  background-image: url('../image/background.png');
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

body{
  font-family: 'Press Start 2P', cursive;
  backdrop-filter: blur(8px);
  border: 4px inset #0038FF;
  border-radius: 30px;
  color: white;
  width: 80%;
  margin: auto;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.myPicture {
  display : block;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  /* réduire à 100px quand on passe en format mobile */
}

.myName {
  text-align: center;
  font-size: 1.5em;
}

.buttonBar {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonBar button {
  height: 50px;
  width: 225px;
  background: #000541;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  border: inset 4px #0038FF;
}

.buttonBar button:hover {
  background: #000119;
}

.main {
  display: flex;
}

.aboutSection {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 0.8em;
}

.leftAboutSectionTitle {
  width: 100%;
  text-align: center;
}

.leftAboutSectionContent {
  text-align: justify;
}

.leftAboutSectionContent p:first-child {
  background: #000541;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none; 
    color: white;
    border: inset 4px #0038FF;
}

.leftAboutSectionContent p:first-child:hover {
  background: #000119;
}

.aboutSection:last-child {
  align-content : space-around;
}

.aboutSplitter {
  border: 2px outset #0038FF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skillContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content : center
}

.languageContainer {
  width: 100%;
  display: flex;
  flex-wrap:nowrap;
  gap: 30px;
}

.languageContainer:first-child {
  margin-bottom: 20px;
}

.languageName {
  width: 30%;
}

.languageLevel {
    background: #000541;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none; 
    color: white;
    border: inset 4px #0038FF;
}

.languageLevel:hover {
  background: #000119;
}

.skillContainer svg {
  flex : 1 1 30%;
  box-sizing: border-box;
  padding: 30px;
}
